body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 55px;
    padding-top: 5%;
    color: rgb(221, 101, 101);
    text-shadow: 2px 1px blue;
}

h2 {
    font-size: 35px;
    color: rgb(221, 101, 101);
    text-decoration: underline;
}
    

#play-arena {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    position: relative;
    margin: 0 20px;
    width: 200px;
    height: 200px;
    font-size: 100px;
    border: 5px solid rgb(221, 101, 101);
    border-radius: 30px;
    cursor: grabbing;
}

button:focus {
    margin: -5px 16px;
    width: 205px;
    height: 205px;
    border: 5px solid rgb(223, 79, 79);
    background-color:rgb(249, 190, 139);
}

.cpu-choice {
    position: absolute;
    top: 125px;
    right: 45px;
    visibility: hidden;
}

#result {
    margin-top: 70px;
    font-size: 30px;
    color: black;
    font-style: italic;
}


#score-board {
    margin-top: 4%;
    display: flex;
    gap: 200px;
    text-align: center;
    color: rgb(223, 79, 79);
    font-size: 30px;
}

#modal {
    text-align: center;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.498);
    border-radius: 15px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

#modal:not([open]) {
    display: none;
}

#modal-winner-text {
    font-size: 25px;
}

#modal-btn {
    width: 120px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.498);
    border-radius: 5px;
    font-size: 20px;
}

#modal-btn:hover {
    margin-top: -2px;
    width: 121px;
    height: 51px;
    font-size: 20px;
    border: 4px solid rgba(0, 0, 0, 0.498);
}

#modal-btn:focus {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}